* {
  margin: 0;
  padding: 0;
}

:root {
  --headfoot: #bc6c25;
  --body: #dda15e;
  --other: #445128;
}

main {
  min-height: calc(100vh - 300px);
}

/*-------------------------------- Desktop --------------------------------*/

/*----------- Header -----------*/
header {
  height: 100px;
  background-color: var(--headfoot);
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

header h1,
header a,
header p,
header button {
  color: black;
}

nav {
  height: 100%;
}

#desktop {
  height: 100%;
}

#desktop ul {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

#desktop ul li:not([class=languageSwitch]) {
  list-style: none;
  width: 25vw;
  text-align: center;
  transition: background-color 0.5s ease-in-out;
}

#desktop ul li:hover:not([class=languageSwitch]) {
  background-color: var(--body);
  transition: background-color 0.5s ease-in-out;
}

#desktop ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 36.5px 0 36.5px;
  text-decoration: none;
  font-size: 26px;
}

.active {
  background-color: var(--body);
}

.languageSwitch {
  list-style: none;
  text-align: center;
  width: 25%;
}

.languageSwitch p {
  font-size: 24px;
}

.languageSwitch button {
  border: none;
  background: none;
  margin: 15px 15px;
  font-size: 18px;
}

.languageSwitch button:hover {
  cursor: pointer;
}

.languageSwitch .currentLanguage {
  border-bottom: black 1px solid;
}

/*---- Mobile ----*/
#mobile_header {
  display: none;
}

#mobile_header_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

#mobile_header_top h1 {
  font-size: 37px;
  font-weight: normal;
}

#mobile_header_top svg {
  font-size: 37px;
}

#mobile_overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--headfoot);
  overflow-x: hidden;
  transition: 0.2s;
}

#overlay_content {
  position: relative;
  top: 10%;
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#overlay_content ul {
  list-style: none;
  padding: 0;
}

#mobile_overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  display: block;
  transition: 0.2s;
}

.close_button {
  position: absolute;
  top: 18px;
  right: 13px;
  font-size: 33px;
}

#overlay_content .languageSwitch {
  list-style: none;
  text-align: center;
  width: auto;
  margin-top: 30px;
}

#overlay_content .languageSwitch p {
  font-size: 36px;
}

#overlay_content .languageSwitch button {
  border: none;
  background: none;
  margin: 15px 15px;
  font-size: 26px;
}

#overlay_content .languageSwitch .currentLanguage {
  border-bottom: black 1px solid;
}

/*----------- Frontpage -----------*/
#frontpage {
  background-color: var(--body);
  color: black;
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}

#frontpage_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#frontpage_text h1 {
  font-weight: 100;
  font-size: 60px;
  margin-bottom: 10px;
}

#frontpage_text h2 {
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 30px;
}

#frontpage_text h3 {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 10px;
}

#frontpage_text p {
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}

/*----------- Projects list -----------*/
#projects {
  background-color: var(--body);
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}



.project_category {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project_container {
  background-color: var(--other);
  width: clamp(33vw, 45%, 50vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #283618;
  border-radius: 50px;
  gap: 30px;
  padding: 10px;
  color: white;
}

#projects a {
  color: white;
}

.project_title {
  font-size: 32px;
}

#projects h1 {
  font-weight: normal;
  margin: 0 20px;
}

.site_info {
  font-size: 18px;
}

.project_description,
.project_tools,
.project_repository {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 790px;
}

.project_tools,
.project_repository {
  text-align: center;
}

#projects h2 {
  font-weight: normal;
}

.project_tools li {
  margin: 10px 0;
  list-style: none;
}

.project_repository .github,
.project_repository .youtube {
  margin-top: 10px;
}

.github svg {
  color: black;
  font-size: 60px;
}

.youtube svg {
  color: red;
  font-size: 60px;
}

/*----------- Skills -----------*/
#about_me {
  background-color: var(--body);
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  color: black;
}

#about_me h1 {
  margin-bottom: 30px;
  font-weight: normal;
  text-align: center;
}

#about_me_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#about_me_description p {
  max-width: 1000px;
  font-size: 20px;
}

#profile_img {
  border-radius: 50%;
  width: 300px;
  border: 1px solid black;
}

#about_me_skills {
  display: flex;
  justify-content: space-around;
}

#about_me_skills div {
  padding-top: 40px;
}

#about_me h2 {
  font-weight: normal;
  padding-bottom: 20px;
}

#about_me_skills div h3 {
  margin: 10px 0;
}

/*---------------------- Card drawing app ----------------------*/
#card_draw {
  background-color: var(--body);
  padding: 50px 0;
  display: flex;
  color: black;
}

/* ----------- Controlls ----------- */

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

#controls button {
  width: 120px;
  height: 50px;
  font-size: 16px;
  margin: 20px;
}

#draw_amount_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#draw_amount_container input {
  width: 177px;
}

#wrong_input {
  display: none;
  color: red;
  text-align: center;
}

#card_art_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#showDomt {
  margin: 10px;
}

#showDomt input {
  margin-left: 10px;
}

#art_credits a {
  color: black;
}

/* ----------- Card Area ----------- */

#card_area_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#card_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards {
  text-align: center;
  width: 250px;
  margin: 10px;
}

.cards img {
  width: 250px;
}

.tarrot_cards {
  text-align: center;
  width: 350px;
  margin: 10px;
}

.tarrot_cards img {
  width: 350px;
}

.cardName {
  text-transform: capitalize;
}

/*---------------------- Memory game app ----------------------*/

#game_intro {
  background-color: var(--body);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 740px;
  padding-top: 25px;
}

#game_intro.hidden {
  display: none;
}

#playGame {
  margin-bottom: 4em;
}

#playGame input[type="radio"] {
  display: none;
}

#playGame label {
  padding: 1.25em;
  border: 2px solid black;
  font-weight: 700;
  box-sizing: border-box;
  margin: 3em 0.5em 4em;
  display: inline-block;
  cursor: pointer;
}

#playGame input[type="radio"]:checked+label {
  background-color: var(--headfoot);
  color: black;
}

#playGame button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 1.25em 2.5em;
  background-color: var(--headfoot);
  font-weight: 700;
  color: black;
  border: none;
  cursor: pointer;
}

#game_board {
  display: flex;
  min-height: 740px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ddd;
}

#game_board.hidden {
  display: none;
}

#game_board section {
  width: 200px;
  height: 305px;
  margin: 5px 0;
  position: relative;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  z-index: 3;
  transition: 0.3s;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front {
  background-image: url("../public/cards/ds/Card\ Back.jpg");
  background-size: contain;
  z-index: 2;
}

#game_board .flipped {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: rotateY(180deg);
}

.back img {
  height: 305px;
}

#game_end {
  display: none;
  padding: 20px;
  background-color: #ccc;
  flex-direction: column;
  align-items: center;
}

#game_end.show {
  display: flex;
}

/*----------- Footer -----------*/
footer {
  background-color: var(--headfoot);
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer div p,
footer div a {
  color: black;
}

#email p {
  font-size: 22px;
}

#linkedin {
  font-size: 50px;
  padding-right: 30px;
}

#github {
  font-size: 50px;
}

/*-------------------------------- Max 1000px width --------------------------------*/
@media screen and (max-width: 1000px) {

  /*----------- Projects -----------*/
  .project_title {
    font-size: clamp(26px, 6vw, 32px);
  }

  .project_container {
    width: clamp(270px, 80vw, 850px);
  }
}

/*-------------------------------- Max 754px width --------------------------------*/
@media screen and (max-width: 754px) {

  /*----------- Header -----------*/
  header {
    height: auto;
  }

  #desktop {
    display: none;
  }

  #mobile_header {
    display: block;
    margin: 0 10px;
  }

  /*----------- Footer -----------*/
  footer {
    flex-direction: column;
    height: 130px;
    gap: 20px;
    padding: 20px 0;
  }
}

/*-------------------------------- Max 720px width --------------------------------*/
@media screen and (max-width: 720px) {

  /*----------- Card drawing app -----------*/
  #card_draw {
    flex-direction: column;
    align-items: center;
  }
}

/*-------------------------------- Max 600px width --------------------------------*/
@media screen and (max-width: 600px) {

  /*----------- Projects -----------*/
  #projects {
    text-align: center;
  }
}

/*-------------------------------- Max 400px width --------------------------------*/
@media screen and (max-width: 500px) {

  /*----------- About me -----------*/
  #profile_img {
    width: clamp(200px, 75%, 300px);
  }

  #about_me_skills {
    flex-direction: column;
    align-items: center;
  }

  #about_me_skills div {
    width: 185px;
  }
}

/*-------------------------------- Max 420px width --------------------------------*/
@media screen and (max-width: 420px) {

  /*----------- Frontpage -----------*/
  #frontpage_text h1,
  #frontpage_text h2,
  #frontpage_text h3 {
    text-align: center;
  }

  /*----------- Card drawing app -----------*/
  .tarrot_cards {
    width: 250px;
  }

  .tarrot_cards img {
    width: 250px;
  }
}

/*-------------------------------- Max 360px width --------------------------------*/
@media screen and (max-width: 360px) {

  /*----------- Footer -----------*/
  #email p {
    font-size: 16px;
  }
}