* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

:root {
  --header: #4d4d4d;
  --text: black;
}

/*-------------------------------- Desktop --------------------------------*/

/*----------- Header -----------*/
header {
  display: none;
  background-color: var(--header);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#mobile_header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 45px;
}

#open_button {
  font-size: 42px;
  color: whitesmoke;
}

#close_button {
  position: absolute;
  color: whitesmoke;
  top: 12px;
  right: 45px;
  font-size: 60px;
}

#mobile_overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(77, 77, 77, 0.97);
  overflow-x: hidden;
  transition: 0.5s;
}

#mobile_overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: whitesmoke;
  display: block;
}

#overlay_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 20%;
  /* width: 100%; */
  text-align: center;
}

ul {
  list-style: none;
}

#language_selectors_mobile {
  width: 330px;
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: whitesmoke;
}

#language_selectors_mobile hr {
  height: 61px;
}

/*---------------------- Frontpage ----------------------*/
/*-------- Main --------*/
main {
  display: flex;
  /* margin-top: 80px; */
}

/*-------- Aside / Nav --------*/
#aside_nav {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: var(--header);
  color: whitesmoke;
  /* transition: width 1s; */
  padding-top: 50px;
}

#aside_nav svg {
  font-size: xx-large;
  padding: 20px 20px 100vh 20px;
  cursor: pointer;
}

#aside_nav nav {
  visibility: visible;
  opacity: 1;
  margin-left: 30px;
  transition: opacity 2s linear;
}

#aside_nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#aside_nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: xx-large;
  text-transform: uppercase;
}

#language_selectors {
  margin-top: 40px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
}

#language_selectors a {
  text-decoration: none;
  color: whitesmoke;
  text-transform: uppercase;
}

/*------------ Sections ------------*/
/*-------- General --------*/
main>div {
  width: 100%;
  margin-left: 250px;
  /* transition: margin-left 1s; */
}

h2 {
  text-transform: uppercase;
  font-size: xx-large;
  margin-top: 130px;
  text-align: center;
}

#about,
#projects {
  display: flex;
  flex-direction: column;
}

#section_wrapper span {
  font-size: larger;
}

#about span,
#projects span {
  text-align: center;
  margin: 50px 0;
}

/*-------- Home --------*/
#home {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../public/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#home h1 {
  text-transform: uppercase;
  font-size: xxx-large;
  margin-top: 150px;
  padding: 0 10px;
}

#home a {
  font-size: x-large;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 50px;
  background-color: black;
  color: white;
  padding: 20px 30px;
}

/*-------- About --------*/

#about_me_skills_container {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

#about_me_skills_container h3 {
  font-size: x-large;
  margin-bottom: 30px;
}

#about_me,
#skills {
  width: 40%;

}

.info {
  font-size: larger;
  color: #666;
  line-height: 2;
  margin-bottom: 15px;
}

#skill_list {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  background: rgba(153, 153, 153, .2);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  color: #666;
  margin: 0 10px 15px 0;
}

#contact h4 {
  font-size: larger;
}

#contact a,
#contact p,
#contact svg {
  color: #666;
}

#social_links {
  display: flex;
  gap: 30px;
  margin: 15px 0;
}

#social_links svg {
  font-size: 40px;
}

#email {
  display: flex;
  align-items: center;
  gap: 5px;
}

#email p,
#email svg {
  font-size: larger;
}

/*-------- Projects --------*/
.project_container {
  display: flex;
  justify-content: space-between;
  margin: 0 40px 40px;
  border: rgba(153, 153, 153, .2) dashed 2px;
  border-radius: 30px;
  overflow: hidden;
}

.project_container img {
  width: 40%;
  object-fit: cover;
}

.memory {
  object-position: 18% 100%;
}

.card_draw {
  object-position: 75% 100%;
}

.tarot {
  object-position: 83% 100%;
}

.project_info {
  width: 60%;
  padding: 0 10px;
}

.project_info p {
  font-size: larger;
  color: #666;
  line-height: 2;
  margin-bottom: 15px;
}

.project_title {
  font-size: xx-large;
}

.project_description {
  margin: 15px 0 25px;
}

/*---------------------- Card drawing app ----------------------*/
#card_draw {
  background-color: var(--body);
  padding: 50px 0;
  display: flex;
  color: var(--text);
  margin-left: 250px;
}

/* ----------- Controlls ----------- */

#controls {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 250px;
  margin: 0 10px;
}

#controls button {
  width: 120px;
  height: 50px;
  font-size: 16px;
}

#draw_amount_container {
  display: flex;
  flex-direction: column;
}

#wrong_input {
  display: none;
  color: red;
}

#card_art_container {
  display: flex;
  flex-direction: column;
}

#showDomt input {
  margin-left: 10px;
}

#art_credits a {
  color: var(--text);
}

/* ----------- Card Area ----------- */

#card_area_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 20px;
}

.cards {
  text-align: center;
  width: 250px;
  margin: 10px;
}

.cards img {
  width: 250px;
}

.tarot_cards {
  min-width: 230px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tarot_cards img {
  height: 400px;
  align-self: center;
}

.tarot_cards p {
  line-height: 1.5;
}

.tarot_cards p:first-of-type {
  align-self: center;
  font-size: larger;
}

.cardName {
  text-transform: capitalize;
}

/*---------------------- Memory game app ----------------------*/

#game_intro {
  background-color: var(--body);
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 740px;
  padding-top: 25px;
}

#game_intro.hidden {
  display: none;
}

#playGame {
  margin-bottom: 4em;
}

#playGame input[type="radio"] {
  display: none;
}

#playGame label {
  padding: 1.25em;
  border: 2px solid black;
  font-weight: 700;
  box-sizing: border-box;
  margin: 3em 0.5em 4em;
  display: inline-block;
  cursor: pointer;
}

#playGame input[type="radio"]:checked+label {
  background-color: var(--headfoot);
  color: var(--text);
}

#playGame button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 1.25em 2.5em;
  background-color: var(--headfoot);
  font-weight: 700;
  color: var(--text);
  border: none;
  cursor: pointer;
}

#game_board {
  display: flex;
  min-height: 740px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ddd;
}

#game_board.hidden {
  display: none;
}

#game_board section {
  width: 200px;
  height: 305px;
  margin: 5px 0;
  position: relative;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  z-index: 3;
  transition: 0.3s;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front {
  background-image: url("../public/cards/ds/Card\ Back.jpg");
  background-size: contain;
  z-index: 2;
}

#game_board .flipped {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: rotateY(180deg);
}

.back img {
  height: 305px;
}

#game_end {
  display: none;
  padding: 20px;
  background-color: #ccc;
  flex-direction: column;
  align-items: center;
}

#game_end.show {
  display: flex;
}

/*----------- Footer -----------*/

/*-------------------------------- Max 814px width --------------------------------*/
@media screen and (max-width: 814px) {

  #home {
    text-align: center;
  }
}

/*-------------------------------- Max 768px width --------------------------------*/
@media screen and (max-width: 768px) {
  header {
    display: block;
  }

  #aside_nav {
    display: none;
  }

  #section_wrapper,
  #card_draw {
    margin: 82px 0 0 0;
  }

  #home {
    height: calc(100vh - 82px);
  }

  #about span,
  #projects span {
    padding: 0 10px;
  }

  #about_me_skills_container {
    flex-direction: column;
    padding: 0 10px;
  }

  #about_me,
  #skills {
    width: auto;
  }

  #social_links {
    margin: 30px 0;
  }

  #social_links svg {
    font-size: 55px;
  }

  #email {
    margin-bottom: 40px;
  }

  #email svg,
  #email p {
    font-size: x-large;
  }

  .project_container {
    flex-direction: column-reverse;
    align-items: initial;
    margin: 0 10px 40px;
  }

  .project_info {
    width: auto;
    padding: 10px;
  }

  .project_container img {
    width: 100%;
  }

  /*----------- Card drawing app -----------*/
  #card_draw {
    flex-direction: column;
    width: 100%;
    padding: 50px 10px;
  }

  #controls {
    width: 50%;
  }

  #card_area {
    width: 100%;
  }

  .tarot_cards {
    width: 50%;
  }
}


/*-------------------------------- Max 420px width --------------------------------*/
@media screen and (max-width: 420px) {

  /*----------- Card drawing app -----------*/
  .tarot_cards {
    width: 250px;
  }

  .tarot_cards img {
    width: 250px;
  }
}