* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

:root {
  --header: white;
  /* --body: #0B0C10; */
  --text: black;
  /* --other: #1F2833; */
}

/* way the hell off screen */
.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

/*-------------------------------- Desktop --------------------------------*/

/*----------- Header -----------*/
header {
  background-color: var(--header);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  border-radius: 50%;
  margin-right: 10px;
}

#logo span {
  font-size: x-large;
}

/*---------------------- Frontpage ----------------------*/
/*-------- Main --------*/
main {
  display: flex;
  /* margin-top: 80px; */
}

/*-------- Aside / Nav --------*/
aside {
  width: 200px;
  height: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  background-color: #4d4d4d;
  color: whitesmoke;
}

#nav_open_button {
  font-size: xx-large;
}

aside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: baseline;
  margin-left: 30px;
}

aside ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: xx-large;
  text-transform: uppercase;
}

/*------------ Sections ------------*/
/*-------- General --------*/
#section_wrapper {
  width: 100%;
  margin-left: 200px;
}

/*-------- Home --------*/
#home {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../public/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: calc(100vh - 80px); */
  height: 100vh;
}

#home h1 {
  text-transform: uppercase;
  font-size: xxx-large;
  margin-top: 150px;
}

#home p {
  font-size: larger;
}

#home a {
  font-size: x-large;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 50px;
  background-color: black;
  color: white;
  padding: 20px 30px;
}

/*-------- About --------*/
#about,
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-------- Projects --------*/
h2 {
  text-transform: uppercase;
  font-size: xx-large;
  margin-top: 150px;
}

/*---------------------- Card drawing app ----------------------*/
#card_draw {
  background-color: var(--body);
  padding: 50px 0;
  display: flex;
  color: var(--text);
}

/* ----------- Controlls ----------- */

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

#controls button {
  width: 120px;
  height: 50px;
  font-size: 16px;
  margin: 20px;
}

#draw_amount_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#draw_amount_container input {
  width: 177px;
}

#wrong_input {
  display: none;
  color: red;
  text-align: center;
}

#card_art_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#showDomt {
  margin: 10px;
}

#showDomt input {
  margin-left: 10px;
}

#art_credits a {
  color: var(--text);
}

/* ----------- Card Area ----------- */

#card_area_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#card_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards {
  text-align: center;
  width: 250px;
  margin: 10px;
}

.cards img {
  width: 250px;
}

.tarrot_cards {
  text-align: center;
  width: 350px;
  margin: 10px;
}

.tarrot_cards img {
  width: 350px;
}

.cardName {
  text-transform: capitalize;
}

/*---------------------- Memory game app ----------------------*/

#game_intro {
  background-color: var(--body);
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 740px;
  padding-top: 25px;
}

#game_intro.hidden {
  display: none;
}

#playGame {
  margin-bottom: 4em;
}

#playGame input[type="radio"] {
  display: none;
}

#playGame label {
  padding: 1.25em;
  border: 2px solid black;
  font-weight: 700;
  box-sizing: border-box;
  margin: 3em 0.5em 4em;
  display: inline-block;
  cursor: pointer;
}

#playGame input[type="radio"]:checked+label {
  background-color: var(--headfoot);
  color: var(--text);
}

#playGame button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 1.25em 2.5em;
  background-color: var(--headfoot);
  font-weight: 700;
  color: var(--text);
  border: none;
  cursor: pointer;
}

#game_board {
  display: flex;
  min-height: 740px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ddd;
}

#game_board.hidden {
  display: none;
}

#game_board section {
  width: 200px;
  height: 305px;
  margin: 5px 0;
  position: relative;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  z-index: 3;
  transition: 0.3s;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front {
  background-image: url("../public/cards/ds/Card\ Back.jpg");
  background-size: contain;
  z-index: 2;
}

#game_board .flipped {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: rotateY(180deg);
}

.back img {
  height: 305px;
}

#game_end {
  display: none;
  padding: 20px;
  background-color: #ccc;
  flex-direction: column;
  align-items: center;
}

#game_end.show {
  display: flex;
}

/*----------- Footer -----------*/


/*-------------------------------- Max 720px width --------------------------------*/
@media screen and (max-width: 720px) {

  /*----------- Card drawing app -----------*/
  #card_draw {
    flex-direction: column;
    align-items: center;
  }
}

/*-------------------------------- Max 420px width --------------------------------*/
@media screen and (max-width: 420px) {

  /*----------- Card drawing app -----------*/
  .tarrot_cards {
    width: 250px;
  }

  .tarrot_cards img {
    width: 250px;
  }
}